@using (Html.BeginForm())
@using GestionImpresoras.Models;
@model Solicitud
@{
        ViewData["Title"] = "Crear nueva Solicitud";
}
@Html.AntiForgeryToken()
<h1>Crear Solicitud</h1>
<h5>Se refiere a las Solicitudes de tóner o repuestos para impresoras utilizadas en la institución </h5>
<hr />
<form asp-action="Create" asp-controller="Solicitudes" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <!---  Para Lista de Impresoras   -->
    <div class="mb-3 form-group">
        <label asp-for="ImpresoraId " class="form-label">Impresora</label>
        <select class="form-select form-select sm" asp-for="ImpresoraId" asp-items="ViewBag.ImpresoraId">
            <option> --- Seleccionar Impresora --- </option>
        </select>
        <span asp-validation-for="ImpresoraId" class="text-danger"></span>
    </div>
    <!--- Para Lista de Estado de Solicitud   -->
    <div class="mb-3 form-group">
        <label asp-for="EstadoSolicitudId" class="form-label">Estado</label>
        <select class="form-select form-select sm" asp-for="EstadoSolicitudId" asp-items="ViewBag.EstadoSolicitudId">
            <option> --- Seleccionar Estado --- </option>
        </select>
        <span asp-validation-for="EstadoSolicitudId" class="text-danger"></span>
    </div>
    <!--- Para Lista de Color Solicitado   -->
    <div class="mb-3 form-group">
        <label asp-for="ColorId" class="form-label">Color</label>
        <select class="form-select form-select sm" asp-for="ColorId" asp-items="ViewBag.ColorId">
            <option> --- Seleccionar Color --- </option>
        </select>
        <span asp-validation-for="ColorId" class="text-danger"></span>
    </div>
    <!---  Para Lista de Fecha de Solicitud   -->
    <div class="mb-3 form-group">
        <label asp-for="FechaSolicitud" class="form-label">Fecha Solicitud</label>
        <input type="date" asp-for="FechaSolicitud" class="form-control" />
        <span asp-validation-for="FechaSolicitud" class="text-danger"></span>
    </div>
    <!--- Para Solicitante   -->
    <div class="mb-3 form-group">
        <label asp-for="Solicitante" class="form-label">Solicitante</label>
        <input type="text" asp-for="Solicitante" class="form-control" placeholder="Ingrese la persona Solicitante" />
        <span asp-validation-for="Solicitante" class="text-danger"></span>
    </div>
    <!--- Para Email   -->
    <div class="mb-3 form-group">
        <label asp-for="Email" class="form-label">Solicitante</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Ingrese el correo del Solicitante" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <!--- Para Lista de Medio Solicitado   -->
    <div class="mb-3 form-group">
        <label asp-for="MedioId" class="form-label">Medio de Solicitud</label>
        <select class="form-select form-select sm" asp-for="MedioId" asp-items="ViewBag.MedioId">
            <option> --- Seleccionar Medio --- </option>
        </select>
        <span asp-validation-for="MedioId " class="text-danger"></span>
    </div>
    <!--- Para Detalles  -->
    <div class="mb-3 form-group">
        <label asp-for="Detalle" class="form-label">Detalles de la solicitud</label>
        <textarea asp-for="Detalle" class="form-control" id="detalle-input" placeholder="Ingrese los Detalles de la solicitud"></textarea>
        <span asp-validation-for="Detalle" class="text-danger"></span>
    </div>
    <!--- Para Imagenes de documentación  -->
    <div class="mb-3 form-group">
        <label asp-for="UrlImagen" class="form-label">Imagenes para documentar</label>
        <input type="file" asp-for="UrlImagen" class="form-control" name="UrlImagen" id="UpImagen" placeholder="Ingrese la imagen soporte" accept="image/*" />
        <span asp-validation-for="UrlImagen" class="text-danger"></span>
    </div>
    <!---------------  Botones summit y cancelar  ------------->
    <button type="submit" class="btn btn-primary"><i class="bi bi-pencil-fill"></i> Enviar</button>
    <a class="btn btn-secondary" asp-action="Index"><i class="bi bi-backspace"></i> Cancelar</a>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<!---------------  Codigo para utilizar editor de codigo  TinyMCE  ------------->
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#detalle-input',
        plugins: 'lists',
        menubar: 'file edit format'
    });
</script>
<script>
    tinymce.init({
        selector: 'textarea',
        plugins: 'lists',
        menubar: 'file edit format'
    });
</script>

<style>
    .validation-summary-errors {
        display: none;
    }
</style>
}