@using GestionImpresoras.Models;
@model Medio
@{
    ViewData["Title"] = "Borrar Medio";
}
<h1>Borrar Medio</h1>
<h3>¿Estás seguro de que deseas borrar este Medio?</h3>
<hr />
<form asp-controller="Medios" asp-action="Borrar" method="post">
    <!-- Definir el id que se envía desde la vista al controlador -->
    <input type="hidden" asp-for="Id" value="@Model.Id" class="Modelo" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3 form-group">
        <label asp-for="Nombre" class="form-label">Nombre</label>
        <!-- Utilizo la opción readonly para no permitir cambiar el contenido de los campos -->
        <input type="text" asp-for="Nombre" class="form-control" readonly />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3 form-group">
        <label asp-for="ConRespuesta" class="form-label">¿Con Respuesta? <i class="bi bi-bell-fill text-success"></i></label>
        <input type="text" asp-for="ConRespuesta" class="form-control" readonly value="@(Model.ConRespuesta ? "Sí" : "No")" />
        <span asp-validation-for="ConRespuesta" class="text-danger"></span>
    </div>
    <div class="mb-3 form-group">
        <label asp-for="Descripcion" class="form-label">Descripcion</label>
        <input type="text" asp-for="Descripcion" class="form-control" readonly />
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>
    <!---------------  Botones summit y cancelar  ------------->
    <button type="submit" class="btn btn-primary"><i class="bi bi-eraser"></i> Borrar</button>
    <a class="btn btn-secondary" asp-action="Index"><i class="bi bi-stop-circle"> Cancelar</i></a>
</form>