USE [DBAppImpresoras]
GO
ALTER TABLE [dbo].[Impresora] DROP CONSTRAINT [FK_ImpresoraUnidadId]
GO
ALTER TABLE [dbo].[Impresora] DROP CONSTRAINT [FK_ImpresoraModeloId]
GO
ALTER TABLE [dbo].[Impresora] DROP CONSTRAINT [FK_ImpresoraMarcaId]
GO
ALTER TABLE [dbo].[Impresora] DROP CONSTRAINT [FK_ImpresoraInstitucionId]
GO
ALTER TABLE [dbo].[Impresora] DROP CONSTRAINT [FK_ImpresoraEstadoId]
GO
ALTER TABLE [dbo].[Impresora] DROP CONSTRAINT [FK_ImpresoraAreaId]
GO
/****** Object:  Table [dbo].[Impresora]    Script Date: 2/6/2023 17:46:25 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Impresora]') AND type in (N'U'))
DROP TABLE [dbo].[Impresora]
GO
/****** Object:  Table [dbo].[Impresora]    Script Date: 2/6/2023 17:46:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impresora](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoActivoFijo] [nvarchar](22) NOT NULL,
	[MarcaId] [int] NOT NULL,
	[ModeloId] [int] NOT NULL,
	[EstadoId] [int] NOT NULL,
	[DireccionIP] [nvarchar](15) NULL,
	[AreaId] [int] NOT NULL,
	[UnidadId] [int] NOT NULL,
	[InstitucionId] [int] NOT NULL,
	[Responsable] [nvarchar](125) NULL,
	[FechaRegistro] [date] NULL,
	[Caracteristicas] [nvarchar](200) NULL,
 CONSTRAINT [PK_Impresora] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Impresora] ON 

INSERT [dbo].[Impresora] ([Id], [CodigoActivoFijo], [MarcaId], [ModeloId], [EstadoId], [DireccionIP], [AreaId], [UnidadId], [InstitucionId], [Responsable], [FechaRegistro], [Caracteristicas]) VALUES (3, N'FAE-01-07-87-176-2022', 2, 3, 1, N'172.19.3.122', 1, 2, 1, NULL, NULL, N'B/N')
INSERT [dbo].[Impresora] ([Id], [CodigoActivoFijo], [MarcaId], [ModeloId], [EstadoId], [DireccionIP], [AreaId], [UnidadId], [InstitucionId], [Responsable], [FechaRegistro], [Caracteristicas]) VALUES (5, N'FAE-01-07-87-176-444', 2, 1, 4, N'172.19.2.11', 1, 2, 3, NULL, NULL, N'B/N alto rendimiento ')
INSERT [dbo].[Impresora] ([Id], [CodigoActivoFijo], [MarcaId], [ModeloId], [EstadoId], [DireccionIP], [AreaId], [UnidadId], [InstitucionId], [Responsable], [FechaRegistro], [Caracteristicas]) VALUES (6, N'FAE-01-07-87-44-2020', 1, 2, 1, N'172.19.3.044', 1, 2, 2, NULL, NULL, N'Con escaner')
SET IDENTITY_INSERT [dbo].[Impresora] OFF
GO
ALTER TABLE [dbo].[Impresora]  WITH CHECK ADD  CONSTRAINT [FK_ImpresoraAreaId] FOREIGN KEY([AreaId])
REFERENCES [dbo].[Area] ([Id])
GO
ALTER TABLE [dbo].[Impresora] CHECK CONSTRAINT [FK_ImpresoraAreaId]
GO
ALTER TABLE [dbo].[Impresora]  WITH CHECK ADD  CONSTRAINT [FK_ImpresoraEstadoId] FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Estado] ([Id])
GO
ALTER TABLE [dbo].[Impresora] CHECK CONSTRAINT [FK_ImpresoraEstadoId]
GO
ALTER TABLE [dbo].[Impresora]  WITH CHECK ADD  CONSTRAINT [FK_ImpresoraInstitucionId] FOREIGN KEY([InstitucionId])
REFERENCES [dbo].[Institucion] ([Id])
GO
ALTER TABLE [dbo].[Impresora] CHECK CONSTRAINT [FK_ImpresoraInstitucionId]
GO
ALTER TABLE [dbo].[Impresora]  WITH CHECK ADD  CONSTRAINT [FK_ImpresoraMarcaId] FOREIGN KEY([MarcaId])
REFERENCES [dbo].[Marca] ([Id])
GO
ALTER TABLE [dbo].[Impresora] CHECK CONSTRAINT [FK_ImpresoraMarcaId]
GO
ALTER TABLE [dbo].[Impresora]  WITH CHECK ADD  CONSTRAINT [FK_ImpresoraModeloId] FOREIGN KEY([ModeloId])
REFERENCES [dbo].[Modelo] ([Id])
GO
ALTER TABLE [dbo].[Impresora] CHECK CONSTRAINT [FK_ImpresoraModeloId]
GO
ALTER TABLE [dbo].[Impresora]  WITH CHECK ADD  CONSTRAINT [FK_ImpresoraUnidadId] FOREIGN KEY([UnidadId])
REFERENCES [dbo].[Unidad] ([Id])
GO
ALTER TABLE [dbo].[Impresora] CHECK CONSTRAINT [FK_ImpresoraUnidadId]
GO
