USE [DBAppImpresoras]
GO
ALTER TABLE [dbo].[Modelo] DROP CONSTRAINT [FK_Modelo_Marca_MarcaId]
GO
/****** Object:  Table [dbo].[Modelo]    Script Date: 7/6/2023 16:38:59 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Modelo]') AND type in (N'U'))
DROP TABLE [dbo].[Modelo]
GO
/****** Object:  Table [dbo].[Modelo]    Script Date: 7/6/2023 16:38:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modelo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[MarcaId] [int] NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
 CONSTRAINT [PK_Modelo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Modelo] ON 

INSERT [dbo].[Modelo] ([Id], [Nombre], [MarcaId], [Descripcion]) VALUES (1, N'IM 3000', 2, N'Impresoras y Scanner, Blanco/Negro')
INSERT [dbo].[Modelo] ([Id], [Nombre], [MarcaId], [Descripcion]) VALUES (2, N'M604i', 1, N'Impresora Laser, gama media, Blanco/Negro')
INSERT [dbo].[Modelo] ([Id], [Nombre], [MarcaId], [Descripcion]) VALUES (3, N'Aficio 2555', 2, N'Impresoras y Scanner, Colores, alto rendimiento ')
SET IDENTITY_INSERT [dbo].[Modelo] OFF
GO
ALTER TABLE [dbo].[Modelo]  WITH CHECK ADD  CONSTRAINT [FK_Modelo_Marca_MarcaId] FOREIGN KEY([MarcaId])
REFERENCES [dbo].[Marca] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Modelo] CHECK CONSTRAINT [FK_Modelo_Marca_MarcaId]
GO
